body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex: 1 0 auto;
}

.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  margin: 10px 290px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 280px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  width: 400px;
  margin: 0;
}

.para {
  color: #e2e4eb;
  font-size: 18px;
  width: 450px;
}

.hero-img {
  background-color: #828a94;
  display: flex;
  width: 500px;
  height: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #34455c;
  content: "this is a placeholder for an image";
}

.hero-img::before {
  content: "this is a placeholder for an image";
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  text-align: center;
  padding: 10px;
  width: 125px;
  border-radius: 10px;
  font-size: 18px;
}
