body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  margin: 10px 190px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 180px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  width: 400px;
  margin: 0;
}

.para {
  color: #e2e4eb;
  font-size: 18px;
  width: 450px;
}

.hero-img {
  background-color: #828a94;
  display: flex;
  width: 500px;
  height: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #34455c;
  content: "this is a placeholder for an image";
}

.hero-img::before {
  content: "this is a placeholder for an image";
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  text-align: center;
  padding: 5px;
  width: 125px;
  border-radius: 10px;
  font-size: 18px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.img {
  border: 2px solid #3882f6;
  height: 120px;
  width: 120px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.text {
  width: 110px;
  font-size: 12px;
  display: flex;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  flex-wrap: wrap;
}

.quote-txt {
  font-size: 36px;
  color: #1f2937;
  display: flex;
  width: 900px;
  margin: 10px auto;
}

.credit {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-right: 260px;
}

.call {
  background-color: #3882f6;
  color: #e2e4eb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 180px;
}

.call h3 {
  margin-bottom: 3px;
  margin-top: 30px;
  margin-left: -505px;
}

.sign-up {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.call p {
  margin-top: 3px;
  margin-bottom: 30px;
}

.call button {
  border: 2px solid #e2e4eb;
  margin-top: -50px;
}

.footer {
  color: #d3d5da;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
